@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#root,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerText{
  font-family: 'Pacifico', cursive;
}

/* Home page */
.InfoButton{
  position: absolute;
  right:    10px;
  bottom:   10px;
}

.centerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:90vh;
}

.GameBtns{
  height:80px;
  width:180px;
}


/*  Puzzle page design   */
.SendBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgList{
  padding: 10px;
}


/* receive page - Puzzle */
.puzzleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.playerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.page > div {
  touch-action: none;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
  width: auto;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: auto;
}



/* Smath the Boss */

.SmashBtnBox{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test {
  width:200px;
  height:200px;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
  auto;
}