@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerText{
  font-family: 'Pacifico', cursive;
}

/* Home page */
.InfoButton{
  position: absolute;
  right:    10px;
  bottom:   10px;
}

.centerButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:90vh;
}

.GameBtns{
  height:80px;
  width:180px;
}


/*  Puzzle page design   */
.SendBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgList{
  padding: 10px;
}